.body {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: 'main sidebar';
  height: 100vh;
}

dark-mode-toggle {
  right: 0;
}

.scrim, .button--small {
  border: 0;
  padding: 0;
  background: transparent;
}

.scrim {
  display: block;
  visibility: hidden;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.viewer {
  background: var(--background);
  position: relative;
  overflow-y: auto;
}
.layers {
  resize: horizontal;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 240px;
  max-width: 90vw;
  background-color: #eee;
  z-index: 5;
}
.dark .layers {
  background-color: #444;
}
.editor__preview {
  background: #448aff;
}

.button--secondary {
  color: inherit;
  background: transparent !important;
  border-color: currentColor;
}
.button--secondary:hover,
input:focus + label.button--secondary,
input.focus + label.button--secondary {
  background: hsl(43, 100%, 55.7%);
}
.button--secondary:active {
  background: hsl(43.4, 100%, 70.2%);
}

.layers__list {
  padding: 0;
}
.layer {
  display: block;
}
.layer__preview-button {
  display: grid;
  grid-template-columns: min-content 64px auto;
  grid-template-rows: 64px;
  grid-template-areas: 'radio preview name';
  width: 100%;

  align-items: center;
  grid-gap: 0.5rem;
  border: 0;
  background: transparent;
  padding: 0.5rem;
}

.layer__radio {
  grid-area: radio;
}
.layer__preview {
  grid-area: preview;
  display: block;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.2) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.2) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}
.layer__name {
  grid-area: name;
  align-self: center;
}

.options {
  padding: 0.5rem;

  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.info {
  opacity: 0.7;
  margin: 0 0 0.5em;
  font-size: 0.9rem;
}

.control {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: min-content;
  grid-template-areas:
    'label label'
    'input preview';
  grid-gap: 0.25rem;
}

.control,
.control--radio {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}
.control__label {
  grid-area: label;
}
.control__input {
  grid-area: input;
}
.control__input:disabled,
input[type="text"]:disabled,
.control--radio:disabled label,
.button--secondary:disabled {
  opacity: 0.5;
}
.control__preview {
  grid-area: preview;
}

.small {
  display: none;
}

dialog {
  position: absolute;
  display: block;
  visibility: hidden;
  width: max-content;
  height: max-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 0;
}
dialog[open] {
  visibility: visible;
}
dialog::backdrop {
  /* .scrim is used instead */
  display: none;
}

.button--small {
  width: 2rem;
  fill: currentColor;
}
.close-button {
  position: absolute;
  line-height: 2rem;
  width: 2rem;
  top: 1rem;
  right: 1rem;
}

.export-dialog {
  padding: 1rem;
  z-index: 6;
  text-align: left;
  background: var(--background);
  color: var(--text-color);
  transition: opacity 0.3s ease;
  opacity: 0;
}
.export-dialog[open] {
  opacity: 1;
}
.dialog-buttons {
  margin-top: 1rem;
  text-align: right;
}
.export-dialog[open] + .scrim.toggle--export {
  visibility: visible;
}

@media (max-width: 56rem) {
  dark-mode-toggle {
    right: 0;
  }
  .body {
    grid-template-columns: auto;
    grid-template-areas: 'main';
  }
  .layers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    transform: translateX(-100%);
    transition: transform 0.1s ease;
  }
  .open .layers {
    transform: translateX(0);
  }
  .open .scrim.toggle--layers {
    visibility: visible;
  }
  .small {
    display: inline;
  }
}
