<section class="masks text">
  <!--
    Different options for the icon mask. Corresponds to the change-mask.js script.
  -->
  <h3>Masks</h3>
  <label class="mask__option">
    <input type="radio" name="mask" value="none" autocomplete="off" />
    None
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="minimum" checked autocomplete="off" />
    Minimum safe area
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="circle" autocomplete="off" />
    Circle
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="rounded_rect" autocomplete="off" />
    Rounded Rectangle
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="sharp_rect" autocomplete="off" />
    Square
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="drop" autocomplete="off" />
    Drop
  </label>
  <label class="mask__option">
    <input type="radio" name="mask" value="cylinder" autocomplete="off" />
    Cylinder
  </label>
  <label class="mask__option mask--path">
    <input type="radio" name="mask" value="squircle" autocomplete="off" />
    Squircle
  </label>
  <label class="mask__option mask--path">
    <input type="radio" name="mask" value="flower" autocomplete="off" />
    Flower
  </label>
  <label class="mask__option mask--path">
    <input type="radio" name="mask" value="pebble" autocomplete="off" />
    Pebble
  </label>
  <label class="mask__option mask--path">
    <input type="radio" name="mask" value="vessel" autocomplete="off" />
    Vessel
  </label>
  <label class="mask__option mask--path">
    <input type="radio" name="mask" value="hexagon" autocomplete="off" />
    Hexagon
  </label>
  <a href="settings" class="mask__option" aria-label="More masks">
    More...
  </a>
</section>
<section class="controls text">
  <h3>Controls</h3>
  <label class="mask__option">
    <input type="checkbox" name="shrink" autocomplete="off" />
    Shrink
  </label>
  <label class="mask__option">
    <input type="checkbox" name="ghost" autocomplete="off" />
    Show ghost image
  </label>
</section>