<hr />
<div class="about__extra about__row">
  <div class="about__col">
    Created by
    <a class="about__link" href="https://tigeroakes.com">
      <img loading="lazy" class="about__self-logo" src="tigeroakes.svg" alt="Tiger Oakes" height="32" width="160" />
    </a>
  </div>
  <a class="about__col" href="https://ko-fi.com/O4O645BF3" target="_blank">
    <img loading="lazy" height="36" src="https://cdn.ko-fi.com/cdn/kofi5.png?v=2" alt="Buy Me a Coffee at ko-fi.com" />
  </a>
</div>