<hr />
<div class="about__extra about__row">
  <div class="about__col">
    Created by
    <a class="link" href="https://tigeroakes.com">
      <img loading="lazy" class="about__self-logo" src="/tigeroakes.svg" alt="Tiger Oakes" height="32" width="160" />
    </a>
  </div>
  <a class="about__col" href="https://ko-fi.com/O4O645BF3" target="_blank">
    <img loading="lazy" width="166" height="32" src="/kofi.svg" alt="Buy Me a Coffee at ko-fi.com" />
  </a>
</div>