.body {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: 'main sidebar';
  height: 100vh;
}

dark-mode-toggle {
  right: 0;
}

main {
  overflow-y: auto;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.viewer {
  position: relative;
}
.layers {
  padding-left: env(safe-area-inset-left);
  resize: horizontal;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 240px;
  max-width: 90vw;
  background-color: #eee;
  z-index: 5;
}
.dark .layers {
  background-color: #444;
}
.editor__preview {
  background: #448aff;
}

.button--secondary {
  color: inherit;
  background: transparent !important;
  border-color: currentColor;
}
.button--secondary:hover,
input:focus + label.button--secondary,
input.focus + label.button--secondary {
  background: hsl(43, 100%, 55.7%);
}
.button--secondary:active {
  background: hsl(43.4, 100%, 70.2%);
}

.layers__list {
  padding: 0;
}
.layer {
  display: block;
}
.layer__preview-button {
  display: grid;
  grid-template-columns: min-content 64px auto;
  grid-template-rows: 64px;
  grid-template-areas: 'radio preview name';
  width: 100%;

  align-items: center;
  grid-gap: 0.5rem;
  border: 0;
  background: transparent;
  padding: 0.5rem;
}

.layer__radio {
  grid-area: radio;
}
.layer__preview {
  grid-area: preview;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  fill: #ffbf1d;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2) 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.2) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.2) 75%);
  background-size: 16px 16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0px;
}
.layer__preview--mask {
  background-image: none;
}
.layer__name {
  grid-area: name;
  align-self: center;
}

.options {
  padding: 0.5rem;

  text-align: left;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.info {
  opacity: 0.7;
  margin: 0 0 0.5em;
  font-size: 0.9rem;
}

.control {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: min-content;
  grid-template-areas:
    'label label'
    'input preview';
  grid-gap: 0.25rem;
}

.control,
.control--radio {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}
.control__label {
  grid-area: label;
}
.control__input {
  grid-area: input;
}
.control__input:disabled,
input[type='text']:disabled,
.control--radio:disabled label,
.button--secondary:disabled {
  opacity: 0.5;
}
.control__preview {
  grid-area: preview;
}
.accent--fill {
  accent-color: var(--fill);
}

.export-dialog {
  max-width: calc(100vw - 4rem);
}
.export-dialog[open] + .scrim.toggle--export {
  visibility: visible;
}

.mask__json-view {
  margin-top: 0.8rem;
}

.mask__json-view__details {
  margin-left: 0.4rem;
}

.mask__json-view__summary {
  list-style: none;
  color: #165fda;
}

.dark .mask__json-view__summary {
  color: #448aff;
}

.mask__json-view__preview {
  background-color: #ededed;
  border-radius: 8px;
  font-family: monospace;
  margin-top: 0.5rem;
  max-height: 400px;
  overflow-y: auto;
  padding: 1rem;
}

.dark .mask__json-view__preview {
  background-color: #444;
}

.mask__json-view-info {
  font-size: 0.9rem;
}

.mask__json-view-info code {
  background-color: #ededed;
  padding: 2px;
  border-radius: 4px;
}

.dark .mask__json-view-info code {
  background-color: #444;
}

.mask__json-view-info a {
  color: #165fda;
}

.dark .mask__json-view-info a {
  color: #448aff;
}

@media (max-width: 56rem) {
  dark-mode-toggle {
    right: 0;
  }
  .body {
    grid-template-columns: auto;
    grid-template-areas: 'main';
  }
  .layers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    transform: translateX(-100%);
    transition: transform 0.1s ease;
  }
  .open .layers {
    transform: translateX(0);
  }
  .open .scrim.toggle--layers {
    visibility: visible;
  }
}
